{% extends "temp.html" %}

{% block content %}
	<form action="/addu" target="_blank">
		<center><button class="btn btn-primary">Добавить</button></center>
	</form>
	<form action="/delu" target="_blank">
		<center><button class="btn btn-primary">Удалить</button></center>
	</form>
    {% for item in phrases %}
		<div class="alert alert-success" role="alert">
			<div>Логин: {{item[0]}}</div>
			<div>Администратор: {{item[2]}}</div>
		</div>
		<p></p>
    {% endfor %}
{% endblock %}

{% block user %}
    <h3>Данные пользователя:</h3>
	<p>Имя пользователя: {{ login }}</p>
	<p>Роль: {{ is_admin }}</p>
	<p>
		<a href="/logout"><span style="margin-left:5px;">Выйти из аккаунта</span></a>
	</p>
{% endblock %}