{% extends "temp.html" %}

{% block content %}
<link rel="stylesheet" href={{ url_for('static', filename="assets/css/bootstrap.min.css") }}/>
<link rel="stylesheet" href={{ url_for('static', filename="assets/css/lineicons.css") }}/>
<link rel="stylesheet" href={{ url_for('static', filename="assets/css/materialdesignicons.min.css") }}/>
<link rel="stylesheet" href={{ url_for('static', filename="assets/css/fullcalendar.css") }}/>
<link rel="stylesheet" href={{ url_for('static', filename="assets/css/fullcalendar.css") }}/>
<link rel="stylesheet" href={{ url_for('static', filename="assets/css/main.css") }}/>
<link rel="stylesheet" href="{{ url_for('static', filename="assets/css/chat/style.css") }}"/>
<h1>Добавление пользователя</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.login.label }}<br>
        {{ form.login(class="form-control") }}<br>
        {% for error in form.login.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
	<p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control") }}<br>
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
	<p>{{ form.is_admin() }} {{ form.is_admin.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}

{% block user %}
    <h3>Данные пользователя:</h3>
	<p>Имя пользователя: {{ login }}</p>
	<p>Роль: {{ is_admin }}</p>
	<p>
		<a href="/logout"><span style="margin-left:5px;">Выйти из аккаунта</span></a>
	</p>
{% endblock %}